<header class="header-menu">
    <img class="brand-logo" src="/assets/LogoIBS.png" alt="logo" aria-hidden="true" width="50px" height="60px">
    <a [routerLink]="['/home']" class="back-to-home">
        <i class="material-icons">arrow_back</i> Back to Home
    </a>
</header>
<main>
    <section class="content">
        <div class="popup-container">
            <div class="popup-content">
                <h2>Create a New Post</h2>
                <textarea class="TextBody" id="post-body" placeholder="Enter post body"></textarea>
                <div class="attachment-icons">
                    <label for="file-input">
                        <span class="material-icons">attach_file</span>
                    </label>
                    <input type="file" id="file-input" style="display: none">

                    <label for="video-input">
                        <span class="material-icons">play_circle_filled</span>
                    </label>
                    <input type="file" id="video-input" style="display: none">

                    <label for="image-input">
                        <span class="material-icons">insert_photo</span>
                    </label>
                    <input type="file" id="image-input" style="display: none">
                </div>
                <button class="submit-button">Submit</button>
                <button [routerLink]="['/home']" class="cancel-button">Cancel</button>
            </div>
        </div>
    </section>
</main>