<header class="header-menu">
    <img class="brand-logo" src="/assets/LogoIBS.png" alt="logo" aria-hidden="true" width="50px" height="60px"
        class="back-to-home">
    <a [routerLink]="['/login']" class="back-to-home">
        <i class="material-icons">arrow_back</i> Back to Login
    </a>
</header>
<main>
    <div class="container">
        <img src="/assets/LogoIBS.png" alt="Company Logo" class="logo">

        <form [formGroup]="VerifMailForm" (ngSubmit)="submit(VerifMailForm)">
            <div class="form-group">
                <input name="email" formControlName="email" type="email" class="form-control" placeholder="Email"
                    autocomplete="nope" required [value]="email">
                <div *ngIf="VerifMailForm.controls['email'] && !VerifMailForm.controls['email']!.valid && VerifMailForm.controls['email']!.dirty"
                    class="text-danger">Email is required.</div>
                <span class="fa fa-envelope material-icons">email</span>
            </div>
            <!-- Signup button -->
            <button type="submit" class="btn btn-primary">Send Email</button>
            <p class="create-account">Back To <a [routerLink]="['/login']">Login</a>.
        </form>
    </div>
</main>