.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.btn-primary {
    margin-top: 20px;
}

.btn-primary img {
    margin-right: 5px;
    vertical-align: middle;
}

.btn-primary span {
    vertical-align: middle;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-to-home {
    margin-left: auto;
}

.popup-container {
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.attachment-icons {
    margin-bottom: 10px;
}

.attachment-icons label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.attachment-icons input[type="file"] {
    display: none;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #0056b3;
}

header {
    display: block;
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
}